{% extends 'base.html.twig' %}

{% block title %}C and C{% endblock %}


{% block body %}
<!-- Core theme CSS (includes Bootstrap)-->
<link href="{{ asset('css/home.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
<body>
  <header>
    <a href="#" class="Couette et Café">Couette et Café</a>
    <ul>
      <li><a href="#" class="home">Home</a></li>
      <li><a href="#">Location</a></li>
      <li><a href="#">Suivi de Commandes</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </header> 
</body>


        {% endblock %}{# css #}



